
<div class="container about">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Welcome to Jungle</h1>
      <p class="lead">Bringing you the latest, funniest, most bizarre and unusual gifts, gadgets and stuff that you can actually buy online. Some of these items are sure to have you laughing out loud and at the very most leave you asking WTF!?
      We're a web magazine website, we don't sell any of the products found on the website, we only ever recommend a safe and reliable third party. 
      Found an item that you think should be included on the website? Please feel free to submit to us on the contact page! We'll even give you a shout out. Join us on one of the social networks, or subscribe to the mailing list to keep up to date with the latest added products.
      Above all we want you to be entertained, and to have a bit of fun!  
      </p>
      <button class="lead about"><%= link_to 'Start shopping right now!', :root %></button>
      <div style="height: 700px"></div>
    </div>
  </div>
</div>
