.about {
  background: url('https://i.pinimg.com/originals/51/cd/d6/51cdd66f1768b8e380fd1eab073d532f.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-size: 24px;
  font-weight: 400;
  color: #dff0d8;
  -o-background-size: cover;
  
  button {
    background: ivory;
    border-radius: 15px;
  }
}
